@import "bootstrap/dist/css/bootstrap.min.css";
/* Body styling */
body {
  background-color: #f0f4f8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  min-height: 100vh;
  padding-top: 50px;
}

.neon-text{
  background-color: lightblue;
}
h1 {
  color: #0078d4;
  text-align: center;
  margin-bottom: 20px;
}

body{
  background-color:lightslategrey;
}

 
#domainList {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  color:blue
}

 
.domain-item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 12px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

 
.domain-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

 
.domain-item a {
  text-decoration: none;
  color: #0078d4;
  font-weight: 600;
  font-size: 16px;
}

 
.domain-item a:hover {
  text-decoration: underline;
}

 
#generateBtn {
  display: block;
  margin: 30px auto 0 auto;
  font-weight: 600;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.2s, transform 0.2s;
}

#generateBtn:hover {
  background-color: #005a9e;
  transform: scale(1.05);
}

.container {background-color:white
  ;
}